{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section>
        <h1>Sum Answer Form</h1>
        <p>Please enter the values for asking sum.</p>
        <blockquote>
            {{ form_errors(form) }}
            {% for message in messages %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}
        </blockquote>
        <div class="form-wrapper">
            {{ form(form) }}
        </div>
        <hr />
        <div class="records">
            <h2>5 lasts records <a href="">[refresh]</a></h2>
            {% for sumRecord in lastRecords %}
                <div>{{ sumRecord.number0}}+{{ sumRecord.number1}}={{ sumRecord.result}}</div>
            {% endfor %}
        </div>
    </section>
{% endblock %}