body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 100px;
    box-sizing: border-box;
}

form {
    margin: 10px auto;
}

form > div > div {
    padding: 5px;
}

form > div > div > label {
    padding-right: 3px;
}

form ul {
    list-style-type: none;
    font-size: 0.8em;
    color: red;
    padding: 0;
}

blockquote {
    padding: 0px 10px;
    display: block;
}

blockquote > div {
    padding: 5px 10px;
    border: 0px solid green;
    border-left-width: 3px;
}

input, button {
    border: 1px solid #AAAAAA;
    background: #CCCCCC;
    height: 25px;
    display: inline-block;
}

h2 a {
    font-size: 0.5em;
    color:grey;
}